section {
    margin-top: 60px;
}

.section-title {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.services__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 16px;
}

.item-1 {
    width: 368px;
    height: 342px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.item-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.item-3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.item-4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.item-5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.item-6 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.item-7 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.services__block-1 {
    background-image: url('../images/service-block-1.jpg');
}

.services__block-2 {
    background-image: url('../images/service-block-2.jpg');
}

.services__block-3 {
    background-image: url('../images/service-block-3.jpg');
}