section {
    margin-top: 60px;
}

.section-title {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.services__wrapper {
    display: grid;
}

.services__block-1 {
    background-image: url('../images/service-block-1.jpg');
    aspect-ratio: 368/342;
}